* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
}

.mainpage {
    width: 98%;
    overflow-y: scroll;
    height: 100vh;
}

.nav {
    width: 85%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    width: 40%;
    padding-left: 3vw;
    text-align: center;
}

.logo h1 {
    font-size: 30px;
}

.navbar {}

.navbar>.navbar-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 40px;
}

.navbar>.navbar-btn>label {
    display: inline-block;
    width: 30px;
    height: 30px;

}

.navbar>.navbar-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #000;
}

#navbar-check {
    display: none;
}

.menu {
    position: absolute;
    display: block;
    width: 0px;
    margin: 0px auto;
    background-color: #000;
    height: 100vh;
    transition: all 0.5s linear;
    overflow-y: hidden;
    top: 0px;
    left: 0px;
    z-index: 4;
    text-align: center;
}

.menu ul {
    width: 100%;
    padding-top: 50px;

}

.menu ul li {
    list-style-type: none;
    width: 100%;
    color: #fff;
    padding-bottom: 10px;


}

.menu ul li a:hover {
    color: #666561
}

.menu ul li a {
    color: #fff;
    width: 100%;
    font-size: 1.5vw;
    text-decoration: none;
    text-align: center;
}

.navbar>#navbar-check:not(:checked)~.menu {
    /* height: 0px; */
    width: 0px;
}

.navbar>#navbar-check:checked~.menu {
    width: 250px;
    /* height: calc(100vh - 0px); */
    overflow-y: auto;
    z-index: 8;
}




/* poster */

header {
    height: 50vw;
}

.posterarea {
    width: calc(85% - 10px);
    margin-left: 10px;
    position: relative;

}

.greenarea {
    position: relative;
    width: 100%;
    height: 37vw;
    background-color: #34421e;
}

.img1 {
    background-image: url(/images/01.jpg);
    width: 61vw;
    height: 34vw;
    background-position: left;
    background-size: cover;
    position: absolute;
    top: 4vw;
    right: 3vw;
    box-shadow: 0 0 37px 0 rgb(0 0 0 / 55%);
}

.imgtextarea {
    position: relative;
    width: 100%;
    height: 34vw;

}

.imgtext {
    position: absolute;
    color: #fff;
    font-size: 1.3vw;
    width: 21vw;
    height: 12vw;
    bottom: 10px;
    right: 15px;
    line-height: 2vw;
}

.h1heading {
    position: absolute;
    color: #FFF;
    font-weight: bold;
    font-size: 2.5vw;
    width: 20vw;
    top: 6vw;
    left: -9vw;
}


.yellowmaindiv {
    position: absolute;
    width: 46vw;
    height: 13vw;
    bottom: -10vw;
    left: 9vw;
    z-index: 5;
}

.yellowarea {
    float: right;
    width: 42vw;
    height: 13vw;
    background-color: #c19534;
    z-index: 5;

}

.contentarea {
    position: relative;
}

.smallimages {
    position: absolute;
    display: flex;
    width: 95%;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    height: 10vw;
    top: 2vw;
}

.smallimg1 {
    background-image: url(/images/small1.jpg);
}

.smallimg2 {
    background-image: url(/images/small2.jpg);
}

.smallimg3 {
    background-image: url(/images/small3.jpg);
}

.smallimg1,
.smallimg2,
.smallimg3 {
    background-position: center;
    background-size: cover;
    width: 14vw;
    height: 10vw;
}



@media (max-width:850px) {
    .mainpage {
        width: 95%;
    }

    header {
        height: 170vw;
    }

    .logo {
        width: 54vw;
    }

    .logo h1 {
        font-size: 3.5vw;
    }

    .menu ul li a {
        font-size: 2.5vw;
    }

    .greenarea {
        height: 65vw;
    }

    .yellowmaindiv {
        width: 60vw;
        height: 86vw;
        left: 9vw;
        z-index: 5;
        bottom: -92vw;
    }

    .yellowarea {
        width: 46vw;
        height: 94vw;
    }

    .smallimages {
        flex-direction: column;
        top: 4vw;
        right: 0px;
        height: auto;
    }

    .smallimg1,
    .smallimg2,
    .smallimg3 {
        width: 53vw;
        height: 29vw;
    }

    .img1 {
        width: 61vw;
        height: 74vw;
        top: 30px;
        right: 3vw;
    }

    .imgtextarea {
        height: 68vw;
    }

    .imgtext {
        font-size: 2.5vw;
        width: 31vw;
        height: 25vw;
        bottom: 10px;
        right: 75px;
        line-height: 3vw;
    }

    .h1heading {
        font-size: 4.5vw;
        width: 40vw;
        top: 10vw;
        left: -6vw;
    }
}

@media (max-width:600px) {
    header {
        height: 235vw;
    }

    .logo {
        width: 65vw;
    }

    .logo h1 {
        font-size: 4vw;
    }

    .navbar>.navbar-btn>label>span {
        width: 20px;
        height: 8px;
    }

    .menu ul li a {
        font-size: 3.5vw;
    }

    .navbar>#navbar-check:checked~.menu {
        width: 50vw;
    }




    .greenarea {
        height: 90vw;
        width: 75%;
    }

    .img1 {
        right: 0;
        height: 100vw;
        top: 10vw;
    }

    .h1heading {
        font-size: 5vw;
        left: -4vw;
    }

    .imgtextarea {
        height: 95vw;
    }


    .imgtext {
        left: 10px;
        height: 50vw;
        width: 50vw;
        font-size: 3.5vw;
        line-height: 6vw;
        bottom: 0;

    }


    .yellowmaindiv {
        bottom: -105vw;
        width: 65vw;
    }

    .yellowarea {
        width: 50vw;
        height: 120vw;
    }

    .smallimg1,
    .smallimg2,
    .smallimg3 {
        height: 35vw;
    }


}





/* sec1 */
.sec1 {
    width: calc(98% -10px);
    height: 70vw;
    margin-left: 10px;
}

.headtext {
    width: 85%;
    text-align: center;
}

.headtext h1 {
    color: #d9d9d9;
    font-size: 8vw;
    letter-spacing: 0.5vw;
}

.sec1content {
    width: 100%;
    position: relative;
    height: 60vw;
}

.sec1box1 {
    position: absolute;
    background-color: #34421e;
    width: 50vw;
    height: 20vw;
    z-index: 1;
}

.sec1box2 {
    background-image: url(/images/sec1img1.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    height: 36vw;
    position: absolute;
    z-index: 3;
    left: 26vw;
    top: 5vw;
}

.sec1box3 {
    background-color: #c19534;
    position: absolute;
    z-index: 2;
    width: 65vw;
    height: 31vw;
    right: 0vw;
    bottom: 15vw;
}


.sec1box4 {
    position: absolute;
    width: 33vw;
    height: 35vw;
    z-index: 4;
    background-color: #fff;
    bottom: 6vw;
    right: 14vw;
    box-shadow: 0 0 18px 0 rgb(0 0 0 / 30%);
}

.sec1box4content {
    margin: 2vw 2vw 0.5vw 2vw;
    height: 32.5vw;
    border: solid 1px #c0c0c0;
    color: #000;
    text-align: center;

}

.box4text {
    padding-top: 2vw;
}

.box4text h1 {
    padding-bottom: 1vw;
    font-size: 2vw;
    color: #c19434;
    font-weight: bold;
}

.box4text p {
    padding: 1vw 1vw;
    line-height: 2vw;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1px;

}

.box4text button {
    border: none;
    outline: none;
    color: #34421e;
    margin-top: 1.5vw;
    background-color: transparent;
    font-size: 1.5vw;
    cursor: pointer;
}


@media (max-width:960px) {

    .sec1box4 {
        width: 35vw;
        height: 38vw;
        bottom: 2vw;
        right: 12vw;
    }

    .sec1box4content {
        height: 35.5vw;
    }
}

@media (max-width:850px) {
    .sec1 {
        height: 170vw;
    }

    .headtext {
        width: 100%;
        margin-top: 6vw;
        padding-left: 20px;
        font-weight: bold;
    }

    .headtext h1 {
        letter-spacing: 0px;
        font-size: 9vw;
    }

    .sec1content {
        height: 150vw;
        margin-top: 30px;
    }

    .sec1box1 {
        width: 70vw;
        height: 50vw;
    }

    .sec1box2 {
        width: 60vw;
        height: 60vw;
        left: 21vw;
        top: 7vw;
    }

    .sec1box3 {
        width: 60vw;
        height: 60vw;
        right: 2vw;
        bottom: 64vw;
    }

    .sec1box4 {
        width: 65vw;
        height: 65vw;
        right: 16vw;
        bottom: 8vw;
    }

    .sec1box4content {
        height: 65.5vw;
        background-color: #fff;
    }

    .box4text h1 {
        font-size: 4vw;
    }

    .box4text p {
        font-size: 3vw;
        line-height: 4vw;
    }

    .box4text button {
        font-size: 2.5vw;
    }


}

@media (max-width:600px) {
    .headtext {
        width: 90%;
        padding-left: 0px;
    }

    .headtext h1 {
        font-size: 13vw;
    }

    .sec1 {
        height: 220vw;
    }

    .sec1content {
        margin-top: 0;
        height: 190vw;
    }

    .sec1box1 {
        width: 70vw;
        height: 60vw;
    }

    .sec1box2 {
        width: 62vw;
        height: 65vw;
        left: 21vw;
        top: 7vw;
    }

    .sec1box3 {
        width: 60vw;
        height: 85vw;
        right: 2vw;
        bottom: 80vw;
    }

    .sec1box4 {
        width: 65vw;
        height: 90vw;
        right: 10vw;
        bottom: 11vw;
    }

    .sec1box4content {
        height: 90.5vw;
    }

    .box4text h1 {
        font-size: 6vw;
    }

    .box4text p {
        font-size: 4vw;
        line-height: 5vw;
    }

    .box4text button {
        font-size: 3.5vw;
    }
}





/* sec2 */
.sec2 {
    width: 98%;
}

.sec2content {
    width: 80%;
    margin: 10px auto;
    border-left: 1vw solid #34421e;
    padding-left: 5vw;
}

.sec2content h1 {
    padding-bottom: 2vw;
    font-size: 2.5vw;
}

.sec2content p {
    width: 66%;
    font-size: 1.5vw;
    line-height: 2vw;
}


@media (max-width:850px) {
    .sec2content {
        width: 85%;
        margin: 10px auto 10px 15vw;

    }

    .sec2content h1 {
        font-size: 4.5vw;
    }

    .sec2content p {
        width: 90%;
        font-size: 3vw;
        line-height: 5vw;
    }
}

@media (max-width:600px) {
    .sec2 {
        margin-top: 10vw;
    }

    .sec2content {
        width: 75%;
        margin: 20px auto 20px 20vw;
    }

    .sec2content h1 {
        font-size: 8vw;
        position: relative;
        top: -7vw;
    }

    .sec2content p {
        width: 100%;
        font-size: 5vw;
        line-height: 7.5vw;
    }
}



/* 
sec3 */


.sec3 {
    width: calc(98%-10px);
    margin-left: 10px;
    background-color: #30332a;
    color: #fff;
    margin-top: 10vw;
    position: relative;
    padding-bottom: 5vw;

}

.sec3text {
    width: 39%;
    margin-left: 10vw;
    padding-top: 5vw;

}

.sec3text h1 {
    font-size: 4vw;
    margin-bottom: 2vw;

}

.sec3text p {
    font-size: 1.5vw;
    line-height: 2.5vw;
}

.sec3icons {
    margin-top: 15vw;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.iconbox {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec3icon {
    margin-bottom: 2vw;
    font-size: 4vw;

}

#iconcolor {
    color: #fff;
}

.sec3icontext {
    font-size: 2vw;
    font-weight: bold;
}


.sec3imagesbox {
    width: 40vw;
    height: 40vw;
    position: absolute;
    right: 6vw;
    top: -10vw;


}

.sec3imagesboxcontent {
    position: relative;
    width: 40vw;
    height: 40vw;
}

.sec3bg {
    width: 35vw;
    height: 35vw;
    background-color: #c19434;
    float: right;

}

.sec3imges {
    position: absolute;
    z-index: 3;
    width: 36vw;
    height: 36vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    margin-top: 2vw;
}

.sec3img1 {
    background-image: url(/images/sec3img1.jpg);
    width: 17vw;
    height: 16vw;
    box-shadow: 0 0 23px 0 rgb(0 0 0 / 40%);
    background-repeat: no-repeat;
    background-size: cover;


}

.sec3img2 {
    background-image: url(/images/sec3img2.jpg);

}

.sec3img3 {
    background-image: url(/images/sec3img3.jpg);

}

.sec3img4 {
    background-image: url(/images/sec3img4.jpg);
    width: 15vw;
    height: 17vw;
    box-shadow: 0 0 23px 0 rgb(0 0 0 / 40%);
    background-repeat: no-repeat;
    background-size: cover;


}



.sec3img2,
.sec3img3 {
    width: 17vw;
    height: 17vw;
    box-shadow: 0 0 23px 0 rgb(0 0 0 / 40%);
    background-repeat: no-repeat;
    background-size: cover;

}



@media (max-width:850px) {


    .sec3text {
        margin-left: 14vw;
        width: 85%;
    }

    .sec3text h1 {
        font-size: 6vw;
        margin-bottom: 5vw;
    }

    .sec3text p {
        font-size: 3.3vw;
        line-height: 4.5vw;
    }

    .sec3imagesbox {
        position: static;
        width: 80%;
        height: 210vw;
        margin-top: 7vw;
        margin-left: 10vw;
    }

    .sec3imagesboxcontent {
        position: relative;
        width: 65vw;
        /* height: 40vw; */

    }

    .sec3bg {
        width: 50vw;
        height: 200vw;
    }

    .sec3imges {
        width: 50vw;
        height: 206vw;
        flex-direction: column;
        margin-left: 5vw;

    }


    .sec3img1,
    .sec3img2,
    .sec3img3,
    .sec3img4 {
        width: 50vw;
        height: 50vw;
    }


    .sec3icons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15vw;
    }

    .sec3icon {
        font-size: 6vw;
    }

    .sec3icontext {
        font-size: 4vw;
    }





}

@media (max-width:600px) {
    .sec3text {
        margin-left: 18vw;
        width: 70%;
    }

    .sec3text h1 {
        font-size: 9vw;
    }

    .sec3text p {
        font-size: 4.2vw;
        line-height: 6.5vw;
    }

    .sec3imagesbox {
        height: 285vw;
        margin-top: 7vw;
        margin-left: 0;
    }

    .sec3imagesboxcontent {
        width: 85vw
    }

    .sec3bg {
        width: 57vw;
        height: 260vw;
    }

    .sec3imges {
        width: 60vw;
        height: 286vw;
        flex-direction: column;
        margin-left: 20vw;
        margin-top: 10vw;
    }

    .sec3img1,
    .sec3img2,
    .sec3img3,
    .sec3img4 {
        width: 60vw;
        height: 60vw;
    }
}



/* sec4 */

.sec4 {
    width: 99.5%;
}

.sec4text {
    width: 55%;
    margin-left: 10vw;
    margin-top: 5vw;

}

.sec4text p {
    font-size: 3vw;
    font-weight: bold;
}

.sec4imgarea {
    width: calc(100%-5px);
    height: 35vw;
    margin-left: 5px;
    position: relative;

}

.sec4greenarea {
    background-color: #34421e;
    width: 30vw;
    height: 35vw;
    float: right;
}

.sec4img {
    background-image: url(/images/sec4img1.jpg);
    width: 45vw;
    height: 25vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 15vw;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 35%);
}

.sec4imgtext {
    width: 23vw;
    line-height: 2.5vw;
    position: absolute;
    bottom: 7vw;
    left: 10vw;
    letter-spacing: 1px;

}

.sec4imgtext p {
    cursor: pointer;
    font-size: 1.5vw;
}


@media (max-width:850px) {
    .sec4 {
        height: 120vw;
    }

    .sec4text {
        margin-top: 10vw;
        margin-left: 14vw;
        width: 70%;
    }

    .sec4text p {

        font-size: 4.2vw;
        line-height: 6vw;
    }

    .sec4imgarea {
        height: 55vw;
        margin-top: 5vw;
    }

    .sec4greenarea {
        width: 50vw;
        height: 55vw;
    }

    .sec4img {
        width: 64vw;
        height: 36vw;
    }

    .sec4imgtext {
        width: 36vw;
        line-height: 3.5vw;
        bottom: -25vw;
        left: 14vw;
    }

    .sec4imgtext p {
        font-size: 2vw;
    }
}

@media (max-width:600px) {
    .sec4 {
        height: 165vw;
    }

    .sec4text {
        width: 76%;
        margin-left: 18vw;
    }

    .sec4text p {
        font-size: 5.5vw;
        line-height: 8vw;
    }

    .sec4imgarea {
        height: 70vw;
    }

    .sec4greenarea {
        width: 65vw;
        height: 70vw;
    }

    .sec4img {
        width: 66vw;
        height: 55vw;
        background-position: bottom;
        right: 10vw;
    }

    .sec4imgtext {
        width: 45vw;
        line-height: 6vw;
        bottom: -35vw;
        left: 18vw;
    }

    .sec4imgtext p {
        font-size: 3vw;
    }
}




/* sec5 */

.sec5 {
    margin-top: 5vw;
    width: calc(100%-10px);
    margin-left: 10px;
    height: 30vw;
}

.sec5img {
    background-image: url(/images/sec5img.jpg);
    width: 100%;
    height: 30vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


@media (max-width:850px) {
    .sec5 {
        height: 50vw;
    }

    .sec5img {
        height: 50vw;
    }
}



/* sec6 */
.sec6 {
    width: calc(100%-10px);
    height: 80vw;
    margin-left: 10px;
    margin-top: 5vw;
}

.sec6headtext h2 {
    font-size: 8vw;
    color: #c0c0c0;
    padding-left: 30vw;
    font-weight: bolder;
    letter-spacing: 5px;
}

.sec6content {
    width: 100%;
    height: 70vw;
    position: relative;
}



.sec6green {
    background-color: #34421e;
    width: 62vw;
    height: 58vw;
    position: relative;
    z-index: 2;

}

.sec6yellow {
    background-color: #c19534;
    width: 36.35vw;
    height: 29vw;
    position: absolute;
    top: 5vw;
    right: 0;




}

.sec6img1 {
    background-image: url(/images/sec6img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 42vw;
    height: 34vw;
    position: absolute;
    z-index: 4;
    top: 10vw;
    left: 28vw;
    background-position: right;

}

.sec6img2 {
    background-image: url(/images/sec6img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 22VW;
    height: 22VW;
    z-index: 4;
    right: 11vw;
    top: 31vw;
    position: absolute;


}

.sec6white {
    position: absolute;
    width: 33vw;
    height: 33vw;
    z-index: 6;
    background-color: #fff;
    bottom: 0;
    left: 14vw;
    box-shadow: 0 0 18px 0 rgb(0 0 0 / 30%);
}

.sec6whitecontent {
    margin: 2vw 2vw 0.5vw 2vw;
    height: 30.5vw;
    border: solid 1px #c0c0c0;
    color: #000;
    text-align: center;
}

.sec6whitetext {
    padding-top: 2vw;
}

.sec6whitetext h1 {
    padding-bottom: 1vw;
    font-size: 2vw;
    color: #c19434;
    font-weight: bold;
}

.sec6whitetext p {
    padding: 1vw 1.5vw;
    line-height: 2vw;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1px;
    color: #000;
    font-size: 1.3vw;
}

.sec6whitetext button {
    border: none;
    outline: none;
    color: #34421e;
    margin-top: 1.5vw;
    background-color: transparent;
    font-size: 1.2vw;
    cursor: pointer;
}


@media (max-width:850px) {
    .sec6 {
        margin-top: 10vw;
        height: 193vw;
    }

    .sec6headtext h2 {
        letter-spacing: 1px;
        padding-left: 25vw;
        font-size: 9vw;
    }

    .sec6content {
        margin-top: 5vw;
        height: 176vw;
    }

    .sec6green {
        height: 120vw;
        width: 65vw;
    }

    .sec6yellow {
        width: 28.1vw;
        height: 65vw;
        position: absolute;
        top: 12vw;
    }

    .sec6img1 {
        width: 65vw;
        height: 60vw;
        top: 7vw;
        left: 17vw;
    }

    .sec6img2 {
        width: 30VW;
        height: 30VW;
        z-index: 2;
        right: 21vw;
        top: 62vw;
    }

    .sec6white {

        width: 70vw;
        height: 75vw;
        left: 12vw;
    }

    .sec6whitecontent {
        height: 71.5vw;
    }

    .sec6whitetext h1 {
        font-size: 6vw;
    }

    .sec6whitetext p {
        line-height: 5vw;
        letter-spacing: 1px;
        font-size: 3.4vw;
    }

    .sec6whitetext button {
        font-size: 3.2vw;
        margin-top: 3.5vw;
    }
}




/* 
sec7 */
.sec7 {
    width: calc(100%-10px);
    margin-left: 10px;
    margin-top: 10vw;
    background-color: #c19434;
    height: 20vw;
}

.sec7content {
    padding-top: 3vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    text-align: center;
    color: #fff;

}

.sec7content h1 {
    font-size: 3vw;
    margin-bottom: 2vw;
}

.sec7content p {
    font-size: 1.5vw;
    margin-bottom: 2vw;
}

.sec7content button {
    padding: 1vw 2.5vw;
    font-size: 1vw;
    background-color: #fff;
    color: #000;
    border: none;
    letter-spacing: 0.1vw;
}

.sec7content button:hover {
    background-color: #c0c0c0;
    cursor: pointer;
}




/* fotter */
footer {
    width: calc(100%-10px);
    margin-left: 10px;
}

.greenarea {
    width: 100%;
    height: 18vw;

    background-color: #34421e;
}

.pageslink {
    padding-top: 5vw;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: 1vw;
}

.pageslink ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.pageslink ul li {

    list-style-type: none;
    padding: 0 1.5vw;
}

.pageslink ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1vw;

}


.pageslink ul li a:hover {
    color: #c0c0c0;
}


.fa-brands {
    color: #fff;
    padding-left: 1vw;
    font-size: 1.2vw;
    cursor: pointer;
}



.greanareaicons {
    padding-top: 3vw;
    text-align: center;
}

.sampletext {
    color: #fff;
    text-align: center;
    padding-top: 3vw;
    font-size: 1.5vw;
}

.sampletext p {
    padding-left: 1vw;
}

.fotarea {
    width: 100%;
    background-color: #333333;
    height: 7vw;
    color: #fff;
    text-align: center;
}

.fotarea p {
    padding-top: 3vw;
}

.fotarea span {
    text-decoration: underline;
    color: #5ebd78;

}

.fotarea span:hover {
    text-decoration: none;
    color: #c0c0c0;
    cursor: pointer;
}